pyfock/Integrals/__pycache__/
pyfock/XC/__pycache__/
pyfock/Utils/__pycache__/
pyfock/__pycache__/
pyfock/benchmark_tests/__pycache__/
__pycache__/
pyfock.egg-info/
.DS_Store
pyfock/.DS_Store
docs/.DS_Store
dist
examples/ase_water_optimization/
examples/calculations
calculations
examples/Notebook_Tutorial/caffeine.xyz
examples/Notebook_Tutorial/decane.xyz
examples/Notebook_Tutorial/h2o_exported.xyz
examples/Notebook_Tutorial/h2o.xyz
examples/Notebook_Tutorial/sto-3g.dat
examples/Notebook_Tutorial/water_density.cube
examples/Notebook_Tutorial/water_HOMO.cube
examples/Notebook_Tutorial/water_LUMO.cube
examples/Notebook_Tutorial/ase_water_optimization/
PyFock_GUI/
PyFock_GUI_old/

